body {
}

h1 {
  color: #fff;
  font-size: 42px;
}

h2 {
  color: black;
}

.bluetext {
  margin-top: 16px;
  color: rgba(3,27,78,.7);
}

.responsive-image {
  height: auto;
  width: 100%;
}


/* NAVBAR  */

.row-bg {
  background-color: blue;
  overflow: auto;
  padding: 10%;
}

.row-bg p {
  font-size: 26px;
  color: #fff;
  opacity: 0.8;
}

.btn-primary {
  background-image: none;
  background-color: #0069ff;
  color: #fff;
  width: 100%;
  font-size: 16px;
}

#form-css {
  background: #fff;
  border-radius: 3px;
  padding: 5%;
}

#form-css h2 {
  text-align: center;
}

#navbar {
  margin: 0;
  border: none;
}

#navbar a {
  color: #fff;
}

.navbar-header {
  background-color: blue;
}

.navbar-default .navbar-toggle {
  border: none;
}

/* Beginning of Body */

.greysection {
  background-color: #f3f5f9;
  text-align: center;
}

.greysection a {
  color: #0069ff;
  text-decoration: none;
}

.greysection p {
  font-size: 22px;
  color: #031b4e;
  padding: 5%;
  opacity: .4;
}
.icons img {
  max-width: 200px;
}

/* Carasoul */

.carasoul {
  position: relative;
  overflow: auto;
}

/* .screeshot {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 100%;
  display:block;
  height: auto;
} */
.whitesection {
  color: #031b4e;
  font-size: 18px;
  padding: 5%;
}

.whitesection h1 {
  text-align: center;
  color: #031b4e;
}

.whitesection p {
  opacity: .4;
}

.whitesection a {
  color: #0069ff;
}



.greysection li {
  display: inline-block;
  list-style-type: none;
  width: calc(100% / 7);
}

.greysection li img {
  max-width: 75%;
}

.greysection-3 li {
  border-left: 2px solid #e5e8ed;
  padding: 17px 10px 17px 30px;
  list-style: none;
}

.greysection-3 h3 {
  font-size: 18px;
  color: #031b4e;
}

.greysection h1 {
  font-size: 32px;
  color: #031b4e;
}

/* FOOTER */

.footer {
  background-color: #010e28;
}

.footer h5 {
  color: white;
}

.footer a {
  color: white;
  opacity: .4;
}

.footer-row {
  padding: 5% 0 5% 0;
  line-height: 25px;
}
.copyright {
  background-color: #010e28;
  padding: 7% 0 7% 0;
}

.copyright p {
  color: #fff;
  opacity: .4;
}

.copyright-2 {
  color: #fff;
  opacity: .4;
  margin-left: 5px;
  text-align: right;
  font-size: 28px;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

.navbar-header {
  background-color: #fff;
}

#navbar a {
  color: blue;
}

}
@media only screen and (min-width: 992px) {

.navbar-header {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border: none;
}

#navbar a {
  color: blue;
}

}
