body {
}

h2 {
  color: black;
}
/* NAVBAR  */

.row-bg {
  background-color: #0069ff;
  padding: 10%;
}

#form-css {
  background: #fff;
}

#navbar {
  margin: 0;
}

.greysection {
  background-color: #f3f5f9;
}

.greysection-3 {
  position: relative;
  background-color: #f3f5f9;
}


.greysection-3-content {
  left: auto;
  right: auto;
  text-align: center;
}
