body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sailec-Medium', 'Helvetica', 'san-serif';
} 

/* Globals */

:root {
    --primary-color: #fff;
    --primary-heading: #031b4e;
    --primary-text: #5b6987;
    --navbar-link: hsl(221, 93%, 16%);
    --button: #006aff;
}
    .new-button {
        height: 10px;
        background-color: rgb(0, 215, 210);
        color: rgb(3, 27, 78) !important;
        cursor: default;
        font-family: 'Sailec-Medium', 'Helvetica', 'sans-serif';
        line-height: 1px;
        text-transform: uppercase;
        user-select: none;
        vertical-align: middle;
        border-radius: 5px;
        padding: 9px 8px;
        font-size: 9px !important;
        margin-right: 15px;
        align-items: center;
    }
    .blue-button {
        height: 2.25em;
        border-radius: 5px;
        margin-right: 16px;
        line-height: 1.5;
        border-color: var(--button);
        background-color: var(--button);
        color: #fff;
        cursor: pointer;
        padding: 6px 16px 10px;
        align-items: center;
    }

    .white-button {
        height: 2.25em;
        border-radius: 5px;
        margin-right: 16px;
        border: 1px solid var(--button);
        border-color: var(--button);
        background-color: transparent;
        color: var(--button);
        padding: 6px 16px 10px;
        background-color: 0.25s linear,border-color 0.25s linear,color 0.25s linear;
    }

.navbar {
    height: 65px;
    border-bottom: 1px solid rgb(229,232,237);
    font-size: 14px;
}

.navbar a {
    color: #5b6987;
    text-decoration: none;
}

.navbar a:hover {
    color: #006aff;
}

.navbar-1-button {
    padding:15px;
}
.navbar-1-links ul li {
    display: inline-block;
    margin-left: 15px;
}

.navbar-2 {
    padding: 15px;
}

.navbar-2-image img {
    width: 200px;
}

.navbar-2-links ul li {
    display: inline-block;
    margin-left: 15px;
}

.navbar-2-links {
    padding: 10px;
}

.navbar-2-buttons a {
    text-decoration: none;
}

.navbar-2-buttons .white-button:hover {
    background-color: #006aff;
    border-color: #006aff;
    color: #fff;
}

.banner {
    height: 400px;
    background-color: #006aff;
    padding: 15px;
}

.banner h1 {
    font-size: 58px;
    line-height: 120%;
    color: #fff;
}

.banner-left p {
    font-size: 24px;
    line-height: 150%;
    color: #fff;
}

.banner-right {
    align-items: center;
    min-width: 370px;
    margin: 0;
    border-radius: 6px;
    color: #4d4f03;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);}